<div class="main-item" id="chat" style="display:none;">
    <div class="ui segment">
        <h2 class="ui header">
          <i class="green colored comment icon"></i>
          <div class="content">
            CHAT
            <div class="sub header">Stay Connected</div>
          </div>
        </h2>
        

    <button class="ui inverted yellow button" id="stat">Status : Online </button><i id="statusie" class="fa fa-toggle-on" aria-hidden="true"></i><a id="toggle" onclick="toggle_status()">&ensp;<i class="fa fa-bullseye" aria-hidden="true"></i></a>
    <h5><button class="ui inverted green button" >Online Hospitals (<i id="online_number")></i>)</button></h5>
    Online Members : <i id="online_member"></i>
    <br>
    <hr>
    <br>
        </div>
     
   
      <h2 class="ui center aligned icon header">
        <i class="red colored circular envelope icon"></i>
        Messages
      </h2>
          
      <div class="ui floated message">
        
      
            
        
        
              <!--<div class="chat-container" >
                <div class="chat-sender msg" id = "chat_display">
                  <i class="red colored heartbeat md icon"></i>
                  <strong>Sender</strong>
                  <div class="chatmsg">Umang</div>
                </div>
              </div>-->

             
              <div>
                <div id="chat_display"><span class="ui compact message">Retrieving Chats...</span></div>
              </div>
           
        
        
           <!--   <div class="chat-container">
                <div class="chat-respond msg" id = "">
                  <div class="flippd">
                    <i class="green colored user md icon"></i>
                    <strong>Responder</strong>
                    <div class="chatmsg">Hey</div>
                  </div>
                </div>
              </div> -->
        
        
            
        
        
           
        
        
            
            
      </div>
        


    

  <div class="ui fluid icon input">
    <input id="chat_input" placeholder="Type something....."></input>
    <button class="ui primary button" id="chat_btn">Send</button> 
  </div>
     
</div>