<div class="main-item" id="settings-page" style="display: none;">
    <div class="ui segment">
    <h2 class="ui header">
      <i class="blue colored settings icon"></i>
      <div class="content">
        ACCOUNT SETTINGS
        <div class="sub header">Manage your Account</div>
      </div>
    </h2>
    </div>
    <hr>
    <div class="ui segment">
    <div class="fluid ui buttons" >
      <button class="green colored ui button" id="togl"  title = "Verify Account" onclick="send_verification(); add_user_verification();">
        <i class="sync alternate icon"></i>
        Verify Account
      </button>
      <button class="blue colored ui button" title = "Change Password" onclick="change_pass()" >
        <i class="lock icon"></i>
        Change Password
      </button>
      <button class="red colored ui button"title = "Delete Account" onclick="deleteacc()">
        <i class="user times icon"></i>
        Delete Account
      </button>

     
        
        
        
    
        
  
      
    </div>
    </div>
  </div>