
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
         
        
        <!-- AOS Animation Initialization -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    </body>
</html>