<%- include("./partials/header") %>

<div class="ui three column centered grid">
    <div class="column"><br><br></div>
    <div class="four stackable column centered row">
      <div class="column">
        <div class="ui medium left floated image">
            <img src="https://images.squarespace-cdn.com/content/v1/51cdafc4e4b09eb676a64e68/1470175715831-NUJOMI6VW13ZNT1MI0VB/ke17ZwdGBToddI8pDm48kEj8h6tFfEHTeCG-xJISxCF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UQNtHfWuxJOqPNnonx2vPn19YmYaYuKXkbKFz0xx0uTakvjJh3JJWsjdMZ66YIxKAg/image-asset.jpeg?format=500w">
            </div>
      </div>
      <div class="column">
        <div class="center aligned content">
            <h1>A W W W ...DON'T CRY.</a>
            <h3>It's just a 404 Error! </h4>
            <h3>What you’re looking for may have been misplaced in Long Term Memory.</h4>
          </div>
      </div>
    </div>
    <div class="column"><br><br></div>
  </div>
     

<%- include("./partials/footer") %>
