<%- include("./partials/header") %>
<div class="ui container">
  <br><br><br><br><br>
  <div class="ui stackable grid" >
    <div class="row" style="display:flex;align-items: center;">
      <div class="ten wide column">
        <div class="ui relaxed horizontal list">
          <div class="item">
            <img class="ui tiny image" src="https://www.w3.org/html/logo/downloads/HTML5_Logo_512.png">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://www.logolynx.com/images/logolynx/7e/7eed17a45f24e41077eb7cad1d031492.png">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://seeklogo.com/images/J/javascript-logo-E967E87D74-seeklogo.com.png">
          </div>
          <div class="item">
            <img class="ui small image" src="https://pluspng.com/img-png/nodejs-logo-png--1500.png">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://upload.wikimedia.org/wikipedia/en/0/00/IBM_Watson_Logo_2017.png">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://cdn.iconscout.com/icon/free/png-256/github-153-675523.png">
          </div>
          <div class="item">
            <img class="ui small image" src="https://www.bloorresearch.com/wp-content/uploads/2013/03/MONGO-DB-logo-300x470--x.png">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://cdn.dribbble.com/users/528264/screenshots/3140440/firebase_logo.png">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://3.bp.blogspot.com/-uPlHNrcPjt8/UKO8wh-oqZI/AAAAAAAAPsc/wBSnLzC4mhw/s1600/Here+logo+2012.png">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://cdn4.iconfinder.com/data/icons/scripting-and-programming-languages/512/JQuery_logo-512.png">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://s.gravatar.com/avatar/250b202f75684bf6916f5c5888b1eaab?size=496&default=retro">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://1.cms.s81c.com/sites/default/files/2019-02-25/1_SendGrid-Logomark.png">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://4.bp.blogspot.com/-xkADMmGFhO0/XHqzNsiEeMI/AAAAAAAAIOM/oLZnRiMJaj0fjNxbrBsPV5n0rkiTdhaIgCLcBGAs/s1600/aos.png">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Tesseract_game_logo.svg/1024px-Tesseract_game_logo.svg.png">
          </div>
          <div class="item">
            <img class="ui tiny image" src="https://cdn.worldvectorlogo.com/logos/heroku.svg">
          </div>
        </div>
      </div>
      <div class="six wide column">
        <h1 class="ui huge header" style="font-family: Arial, Helvetica, sans-serif;" >A few things we're great at</h1>
        <div class="meta">
        <h3 class="ui header" style = "font-family:'Montserrat', sans-serif;"><i>“LIFE IS A JOURNEY, NOT A DESTINATION.”</i></h3>
        </div>
      </div>
    </div>
    <div class="row" style="display:flex;align-items: center;">  
      <div class="sixteen wide column">
        <h1 class="ui center aligned header" style="font-size: 3em;margin-top: 10vh;">A note from developers</h1>
        <p style="text-align: center;font-size: 20px;">We are just some random teens interested in UI/UX Designs and Building web apps with beautiful interface.</p>
        <!-- About Developers -->
        <div class=" ui container">
          <br>
                <div class="ui divided items">
                    <div class="item">

                      <div class="content">
                        <a class="header">Sudhanshu Mohan Kashyap</a>
                        <div class="ui small circular left floated image">
                            <img src="https://avatars0.githubusercontent.com/u/44811918?s=460&u=953f701cf19a5537b6c6ac57f1a5209e395bb6c9&v=4">
                          </div>
                        <div class="meta">
                          <span class="dark">Electrical & Electronics Major at BITS Pilani</span>
                        </div>
                        <div class="description">
                        <p><i>"I am mainly interested in building beautiful UI/UX Interfaces."</i>
                            I started out as cybersecurity enthusiast but later got interested in web development. Since then i am constantly developing and deploying webapps.
                        </p>
                        </div>
                        <div class="extra ">
                          <button class="ui inverted mini red button">Python</button>
                          <button class="ui inverted mini red button">Javascript</button>
                          <button class="ui inverted mini red button">NodeJS</button>
                          <button class="ui inverted mini red button">MongoDB</button>
                          
                          
                                            
                          <div class="left floated">
                            <a href="https://github.com/mightyjoe781"><i class="large github icon"></i></a>
                            <a href="mailto:f20180319@goa.bits-pilani.ac.in"><i class="large envelope outline icon"></i></a>
                            <a href="https://www.facebook.com/sudhanshu.mohan.smk"><i class="large facebook icon"></i></a>
                            <a href="https://www.linkedin.com/in/sudhanshu-mohan-kashyap-60458518a/"><i class="large linkedin alternate icon "></i></a>
                          </div>
                          
                        </div>
                      </div>
                    </div>
          
                    <div class="item">
                        <div class="content">
                          <a class="header">Prashant Ramesh Jha</a>
                          <div class="ui small circular right floated image">
                            <img src="https://scontent.fixc4-1.fna.fbcdn.net/v/t1.0-9/48387814_100321644365933_2165336255091441664_n.jpg?_nc_cat=103&_nc_sid=09cbfe&_nc_ohc=0IkBORb_AxAAX-FzNoS&_nc_ht=scontent.fixc4-1.fna&oh=8e8dba8f25dc3a5eed78581f438866a2&oe=5F47DB11">
                          </div>
                          <div class="meta">
                            <span class="dark">Electronics & Communications Major at BITS Pilani</span>
                          </div>
                          <div class="description">
                          <p><i>"I am an innovator, always looking forward to build scalable solutions."</i>
                              Started with web applications, but now looking forward to software development. Solving problems is my passion, not hobby.
                          </p>
                          </div>
                          <div class="extra">
                            <button class="ui inverted mini blue button">Python</button>
                            <button class="ui inverted mini blue button">C++</button>
                            <button class="ui inverted mini blue button">HTML</button>
                            <button class="ui inverted mini blue button">CSS</button>
                            <button class="ui inverted mini blue button">Javascript</button>
                            <button class="ui inverted mini blue button">PHP</button>
                            
                        <div class="right floated">
                        <a href="https://github.com/pjflux2001"><i class="large github icon"></i></a>
                              <a href="mailto:f20180332@goa.bits-pilani.ac.in"><i class="large envelope outline icon"></i></a>
                              <a href="https://www.facebook.com/pj.flux"><i class="large facebook icon"></i></a>
                              <a href="https://www.linkedin.com/in/prashant-jha-22b1671a5/"><i class="large linkedin alternate icon "></i></a>
                        </div>

                        </div>
                    </div>
                </div>
                
                <div class="item">

                  <div class="content">
                    <a class="header">Apoorv Garg</a>
                    <div class="ui small circular left floated image">
                        <img src="https://scontent.fixc4-1.fna.fbcdn.net/v/t1.0-9/67139441_2378805452210162_7327534289413734400_o.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=pUMyq_599LsAX-a4K03&_nc_ht=scontent.fixc4-1.fna&oh=0c56b62ed568059d6e503f9dbba843d1&oe=5F49B183">
                      </div>
                    <div class="meta">
                      <span class="dark">Computer Science and Mathematics Major at BITS Pilani</span>
                    </div>
                    <div class="description">
                    <p><i>"Interested in Web-App Development and Machine Learning."</i>
                      I am a third yearite exploring different interests like machine learning and UI development. I have just started my UI journey and am excited to learn more.
                    </p>
                    </div>
                    <div class="extra">
                      
                      <button class="ui inverted mini green button">Python</button>
                      <button class="ui inverted mini green button">C++</button>
                      <button class="ui inverted mini green button">HTML</button>
                      <button class="ui inverted mini green button">CSS</button>
                      <button class="ui inverted mini green button">Javascript</button>
                      <button class="ui inverted mini green button">Matlab</button>
                      
                                        
                      <div class="left floated">
                        <a href="https://github.com/ApEdu"><i class="large github icon"></i></a>
                        <a href="mailto:gargapoorv12@gmail.com"><i class="large envelope outline icon"></i></a>
                        <a href="https://www.facebook.com/garg.apoorv12"><i class="large facebook icon"></i></a>
                        <a href="https://www.linkedin.com/in/apoorv-garg-a64891190"><i class="large linkedin alternate icon "></i></a>
                      </div>
                      
                    </div>
                  </div>
                </div>
                
                <div class="item">
                  <div class="content">
                    <a class="header">Umang Barthwal</a>
                    <div class="ui small circular right floated image">
                      <img src="https://media-exp1.licdn.com/dms/image/C5103AQGa0-MQKC_tRw/profile-displayphoto-shrink_400_400/0?e=1600905600&v=beta&t=k10FcRp1-dym7YzPJ1k9RwBqkMLyOPq2imxa6H0CYj8">
                    </div>
                    <div class="meta">
                      <span class="dark">Computer Science & Physics Major at BITS Pilani</span>
                    </div>
                    <div class="description">
                    <p><i>"I am an Open-Source Contributor. Interested in Web-app Development and Relativistic Physics"</i>
                      Started my journey with simple python programs and models. Now exploring the field of development.
                    </p>
                    </div>
                    <div class="extra">
                      <button class="ui inverted mini brown button">Python</button>
                      <button class="ui inverted mini brown button">C++</button>
                      <button class="ui inverted mini brown button">Javascript</button>
                      <button class="ui inverted mini brown button">.NETCore</button>
                      <button class="ui inverted mini brown button">MySQL</button>
                      
                  <div class="right floated">
                  <a href="https://github.com/barthwalumang"><i class="large github icon"></i></a>
                        <a href="mailto:barthwalumang@gmail.com"><i class="large envelope outline icon"></i></a>
                        <a href="https://www.facebook.com/barthwal.umang.96/"><i class="large facebook icon"></i></a>
                        <a href="https://www.linkedin.com/in/barthwalumang/"><i class="large linkedin alternate icon "></i></a>
                  </div>

                  </div>
              </div>
          </div>
          
          <div class="item">

            <div class="content">
              <a class="header">Aayush Kaushal</a>
              <div class="ui small circular left floated image">
                  <img src="https://media-exp1.licdn.com/dms/image/C5603AQGg0bzLCz_NKQ/profile-displayphoto-shrink_200_200/0?e=1601510400&v=beta&t=fA2HenTHnhHICvXlqhj1xyvnauZBZ-mH6iltculhJ8E">
                </div>
              <div class="meta">
                <span class="dark">Computer Science and Mathematics Major at BITS Pilani</span>
              </div>
              <div class="description">
              <p><i> "Interested in Web-App Development and Artificial Intelligence." </i>
                My specialty includes problem-solving, quickly learning new skills, and programming languages. I enthusiastically grab onto any programming language, framework.
              </p>
              </div>
              <div class="extra">
                <button class="ui inverted mini yellow button">Python</button>
                <button class="ui inverted mini yellow button">C++</button>
                <button class="ui inverted mini yellow button">HTML</button>
                <button class="ui inverted mini yellow button">CSS</button>
                <button class="ui inverted mini yellow button">Javascript</button>
                      
                
                                  
                <div class="left floated">
                  <a href="https://github.com/Aayush-7"><i class="large github icon"></i></a>
                  <a href="mailto:f20180838@goa.bits-pilani.ac.in"><i class="large envelope outline icon"></i></a>
                  <a href="https://www.facebook.com/aayush.kaushal.359/"><i class="large facebook icon"></i></a>
                  <a href="https://www.linkedin.com/in/aayush-kaushal-6a6289190/?originalSubdomain=in"><i class="large linkedin alternate icon "></i></a>
                </div>
                
              </div>
            </div>
          </div>

                  

            </div>
            <hr>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Segment -->
<div class="ui inverted vertical footer segment" data-aos="fade-up" data-aos-easing="ease-in-sine">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="eight wide centered column">
        <img class="ui medium centered image" src="https://i.ibb.co/ZW161BF/output-onlinepngtools-1.png"> 
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">About</h4>
        <div class="ui inverted link list">
          <a href="/" class="item">Home</a>
          <a href="/index_plasma" class="item">Dashboard</a>
          <a href="/AboutProject" class="item">Contact Us</a>
          <a href="/#Mission" class="item">Mission</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Services</h5>
        <div class="ui inverted link list">
          <a href="/plasma_bank" class="item">Plasma Bank</a>
          <a href="/map" class="item">Track A Bed</a>
          <a href="/login" class="item">CareNet</a>
        </div>  
        <div class="ui black inverted segment">
          <div class="ui vertical inverted list">
            <div class="item">
              <div class="ui horizontal inverted link list">
                <a href="https://github.com/pjflux2001/CareQuest" class="item"><i class="github icon"></i></a>
                <a href="#" class="item"><i class="youtube icon"></i></a>
              </div>
            </div>
            <div class="item">
              <h6 class="ui header">Copyright <i class="copyright icon"></i> Team BITSians 2020</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script> document.getElementById("technology").classList.add("active"); </script>
<%- include("./partials/footer") %>
      


      


      

      