<%- include("./partials/header") %>



<div class="ui fluid left aligned segment">
    <h3 class="ui header" style="font-size:3.3em;">Frequently Asked Questions</h3>
</div>

<img class="ui large centered image" src="faqDoubts.png">
<br>
<!-- Main Content -->
<div class="ui container" id="faqContent" style="min-width: 75%;">
</div>
<!-- Page Nav  -->
<div class="ui fluid center aligned segment" id="faqPageNavContainer">
</div>
<br>

<script src="faq.js"></script>
<%- include("./partials/footer") %>
