<%- include("./partials/header") %>
<head>
  <!-- Bootstrap CSS only -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">    
</head>
  <div id="donor_form">
  <div class="container w-75 border p-5 mb-5">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <img src="plasma_donor.png" style="height:20vh;width:auto;">
        <h1>Donor Form</h1>
      </div>
    </div>
    <form id="donor_form" action="/email" method="POST" class="needs-validation" novalidate >
      <div> 
      <!--<div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="v1">Date</label>
          <input id="v1" type="date" class="form-control" value ="2020-01-01" min="2020-01-01" max="2020-12-30" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationDefault01">Time</label>
          <input id="v2" type="time" class="form-control" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Start Location*</label>
          <select id="v3" class="custom-select my-1 mr-sm-2" required>
            <option selected>Other</option>
            <option value="1">Campus</option>
            <option value="2">Panjim</option>
            <option value="3">Madgaon</option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">End Location*</label>
          <select id="v4" class="custom-select my-1 mr-sm-2" required>
            <option selected>Other</option>
            <option value="1">Campus</option>
            <option value="2">Panjim</option>
            <option value="3">Madgaon</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-3 mb-3">
          <label for="v5">Contact Number</label>
          <input id="v5" type="text" pattern="[1-9]{1}[0-9]{9}" class="form-control" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationDefault03">Comments</label>
          <input id="v6" type="text" class="form-control" style="size: auto;">
        </div>
            </div>-->
      <!--donor name-->
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v7">Donor Name</label>
          <input id="v7" name="name" type="text" class="form-control col-sm-8" style="size: auto;" required>
          <div class="invalid-feedback">Please provide a valid name.</div>
        </div>
      </div>
      <!--donor mobile number-->
      <!--mobile number pattern not configured-->
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v8">Mobile Number</label>
          <input id="v8" name="number" type="tel" class="form-control col-sm-8" pattern="[0-9]{6,12}" style="size: auto;" required> 
          <div class="invalid-feedback">Please provide a valid mobile number.</div>
        </div>
      </div>
      <!--donor email-->
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v9">Email</label>
          <input id="v9" name="email" type="email" class="form-control col-sm-8" style="size: auto;" pattern="[a-z0-9]+([-+._][a-z0-9]+){0,2}@.*?(\.(a(?:[cdefgilmnoqrstuwxz]|ero|(?:rp|si)a)|b(?:[abdefghijmnorstvwyz]iz)|c(?:[acdfghiklmnoruvxyz]|at|o(?:m|op))|d[ejkmoz]|e(?:[ceghrstu]|du)|f[ijkmor]|g(?:[abdefghilmnpqrstuwy]|ov)|h[kmnrtu]|i(?:[delmnoqrst]|n(?:fo|t))|j(?:[emop]|obs)|k[eghimnprwyz]|l[abcikrstuvy]|m(?:[acdeghklmnopqrstuvwxyz]|il|obi|useum)|n(?:[acefgilopruz]|ame|et)|o(?:m|rg)|p(?:[aefghklmnrstwy]|ro)|qa|r[eosuw]|s[abcdeghijklmnortuvyz]|t(?:[cdfghjklmnoprtvwz]|(?:rav)?el)|u[agkmsyz]|v[aceginu]|w[fs]|y[etu]|z[amw])\b){1,2}" required>
          <div class="invalid-feedback">Please provide a valid email.</div>
        </div>
      </div>
      <!--donor age-->
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v10">Age</label>
          <input name="age" id="v10" type="number" min="0" max="110" class="form-control col-sm-8" style="size: auto;" required> 
          <div class="invalid-feedback">Please provide a valid age.</div>
        </div>
      </div>
      <!--donor gender-->
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v11">Gender</label>
          <select name="gender" id="v11" required>
            <option value="">--select--</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="others">Others</option>
          </select>
        </div>
      </div>
      <!--donor country-->
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="country">Country</label>
          <!--<input id="v13" type="text" class="form-control col-sm-8" style="size: auto;" required>-->
          <select name="country" class="countries order-alpha form-control col-sm-8" id="countryId" required>
            <option value="">Select Country</option>
          </select>
          <div class="invalid-feedback">Please provide a valid country.</div>
        </div>
      </div>
      <!--donor state-->
      <div class="form-row">
          <div class="col-md-6 mb-3">
              <label for="state">State</label>
              <!--<input id="v13" type="text" class="form-control col-sm-8" style="size: auto;" required>-->
              <select name="state" class="states order-alpha form-control col-sm-8" id="stateId" required>
                <option value="">Select State</option>
              </select>
                <div class="invalid-feedback">Please provide a valid state.</div>
          </div>
      </div>
      <!--donor city-->
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="city">City</label>
          <!--<input id="v12" type="text" class="form-control col-sm-8" style="size: auto;" required>-->
          <select name="city" class="cities order-alpha form-control col-sm-8" id="cityId" required>
            <option value="">Select City</option>
          </select>
          <div class="invalid-feedback">Please provide a valid city.</div>
        </div>
      </div>
      <!--donor blood group-->
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v14">Blood Group</label>
          <select id="v14" name="bg" required>
            <option selected value="">--select--</option>
            <option value="A+">A+</option>
            <option value="A-">A-</option>
            <option value="B+">B+</option>
            <option value="B-">B-</option>
            <option value="O+">O+</option>
            <option value="O-">O-</option>
            <option value="AB+">AB+</option>
            <option value="AB-">AB-</option>
          </select>
        </div>
      </div> 
      <!--donor disease status-->
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v15">Do you have Diabetes ?</label>
          <select id="v15">
            <option selected>no</option>
            <option value="yes">yes</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v16">Do you have Liver disease ?</label>
          <select id="v16">
            <option selected>no</option>
            <option value="yes">yes</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v17">Do you have Kidney disease ?</label>
          <select id="v17">
            <option selected>no</option>
            <option value="yes">yes</option>
          </select>
        </div>
      </div>   
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v18">Do you have Lung disease ?</label>
          <select id="v18">
            <option selected>no</option>
            <option value="yes">yes</option>
          </select>
        </div>
      </div>   
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v19">Do you have Blood Pressure problem ?</label>
          <select id="v19">
            <option selected>no</option>
            <option value="yes">yes</option>
          </select>
        </div>
      </div>
      <!--donor recovery date-->
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="v20">Recovery Date</label>
          <input id="v20" type="date" class="form-control col-sm-8" style="size: auto;" required> 
          <div class="invalid-feedback">Please provide your recovery date.</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="invalidCheck2" required>
          <label class="form-check-label" for="invalidCheck2">
            I agree to terms & conditions
          </label>
        </div>
      </div>
      <div class="form-group pt-3">
      <button onClick="window.location.href=window.location.href; alert('Form reset!');" class="btn btn-outline-warning btn-lg" type="button">Reset</button>
      <button class="btn btn-outline-primary btn-lg" type="submit" id="Submit">Create</button>
      </div>
    </div>
    </form>
  </div>
  </div>

<!--show donors
<div class="container" id="show-donor">
  <h3> Donor List </h3>
</div>-->


    <!--Geodata for city state country-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>

     <!--firebase-->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-app.js"></script>

    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->
    <script src="https://www.gstatic.com/firebasejs/7.15.5/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>

    <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
    apiKey: "AIzaSyChax-RIyl8an4nKJA0XLdIc8CyU3jeGgY",
    authDomain: "here-maps-bitsians.firebaseapp.com",
    databaseURL: "https://here-maps-bitsians.firebaseio.com",
    projectId: "here-maps-bitsians",
    storageBucket: "here-maps-bitsians.appspot.com",
    messagingSenderId: "517005193635",
    appId: "1:517005193635:web:846d53aebc789427b0ea16"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
    </script>

     <!--js file-->
     <%- include("./partials/footer") %>
     <script src="form_donor.js"></script>

       <!-- Bootstrap 4.5 JS, Popper.js, and jQuery -->
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
       <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   
       <!--ajax-->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </body>
</html>

