<%- include("./partials/header") %>
<html>
  <head>
    <!-- Bootstrap CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div id="parallax-world-of-ugg">

        <section>
          <div class="container py-3">
            <div class="title-bs">
              <div class="row">
                <div class="text-center d-none d-sm-block col-md-12">
                  <h3>Let's help the community</h3>
                </div>
                <div class="text-center col-12 pt-3">
                  <h1>THE PLASMA BANK</h1>
                </div>
              </div>
            </div>
          </div>
        </section>

        <section>
                   <div class="parallax-one">
                     <h2>PLASMA FORMS</h2>
                   </div>
               </section>

        <section>

                <!--forms-->
    <div class="container-fluid my-2" style="min-height: 20rem;">
      <div class="row py-5 align-items-center">
          <div class="col-12 col-sm-4">
            <img src="plasma_donor.png" class="rounded mx-auto d-block" style="width:auto;height:30vh;">
            <a class="btn btn-outline-success text-dark shadow" href="form_donor">Plasma Donor</a>
            <p class="text-center mx-2" style="font-size: 20px;margin-top: 20px;margin-bottom: 20px;">Register as a Donor and Let others know that you are willing to donate</p>
          </div>
          <div class="col-12 col-sm-4">
            <img src="plasma_patient.png" class="rounded mx-auto d-block" style="width:auto;height:30vh;">
            <a class="btn btn-outline-danger text-dark shadow" href="form_patient">Plasma Receiver</a>
            <p class="text-center mx-2" style="font-size: 20px;margin-top: 20px;margin-bottom: 20px;">Register as a Patient and Let others know that you need help</p>
          </div>
          <div class="col-12 col-sm-4">
            <img src="plasma_accounts.png" class="rounded mx-auto d-block" style="width:auto;height:30vh;">
            <a class="btn btn-outline-warning text-dark shadow" href="common_pool">Plasma Accounts</a>
            <p class="text-center mx-2" style="font-size: 20px;margin-top: 20px;margin-bottom: 20px;">Have a look at registered donors and patients, contact them directly if you dont want to register</p>
          </div>
      </div>
    </div>

        </section>


        <section>
          <div class="parallax-two">
            <h2>HOW IT WORKS</h2>
          </div>
        </section>

        <section>
          <div class="block">
          <div class="container">
            <div class="row">
              <div class="d-none d-sm-block col-12  text-primary">
                <h1><i class="large question circle outline icon"></i><b>Frequently Asked Questions</b></h1>
              </div>
              <div class="d-block d-sm-none col-12">
                <h5><i class="large question circle outline icon"></i><storng><small>Frequently Asked Questions</small></storng></h5>
              </div>
            </div>
          </div>
            <div id="accordion" class="my-5">

              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseOne">
                    <strong><i class="large angle down icon"></i>What Is Plasma ?</strong>
                  </a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    &emsp;&emsp;Plasma – the liquid portion of your blood – can be easily replaced by your body. It consists mainly of water, proteins and antibodies that help your body to function. If you have survived COVID-19 then your plasma includes antibodies that could help others fight the virus.
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseTwo">
                    <strong><i class="large angle down icon"></i>How Is Blood Plasma Used ?</strong>
                  </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    &emsp;&emsp;Plasma from those who have recovered could be a key part of the fight against COVID-19. Once the COVID-19 plasma is donated, it can take one of two paths: <br><br>
                    <ul>
                      <li>Directly transfused into patients.</li>
                      <li>Used to make a potential medicine.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseThree">
                    <strong><i class="large angle down icon"></i>Who Can Donate ?</strong>
                  </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    &emsp;&emsp;Even though you may be enthusiastic about donating Plasma/blood, you may not be eligible. This is determined through an initial screening process.<br><br>
                    <strong>Eligibility of Donor</strong><br><br>
                    The following criteria should be met for potential donors:<br><br>
                    <ul>
                      <li>Age: > 18 Years</li>
                      <li>Male or nulliparous female donor of weight > 55 Kg</li>
                      <li>Prior diagnosis of Covid-19 documented by a laboratory test(RT-PCR) with symptomatic disease with at least fever and cough.</li>
                      <li>Complete resolution of Symptoms at least 28 days prior to donation; or Complete resolution of symptoms at least 14 days prior to donation and two negative real time PCR test for COVID-19  from nasopharyngeal swab, collected 24 hour apart.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseNine">
                    <strong><i class="large angle down icon"></i>Who Cannot Donate ?</strong>
                  </a>
                </div>
                <div id="collapseNine" class="collapse" data-parent="#accordion">
                  <div class="card-body">

                    <strong>The following people are not eligible for blood donation:</strong><br><br>
                    <ul>
                      <li>Intoxicated individuals</li>
                      <li>Blood cancer patients (lymphoma, leukaemia)</li>
                      <li>Type 1 diabetes patients</li>
                      <li>Patients having coronary heart disease or those who have suffered a heart attack</li>
                      <li>Pregnant and nursing women</li>
                      <li>Patients with AIDS, Hepatitis B or C, Syphilis</li>
                      <li>People who have a fever or other active infections</li>
                      <li>People who have got a piercing or body art done during the last 6 months</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseFour">
                    <strong><i class="large angle down icon"></i>Process of donating plasma ?</strong>
                  </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    &emsp;&emsp;Blood is drawn from the donor, plasma is separated from blood by special procedures and is administered in the blood of the recipient.The process for donating plasma is similar to donating blood and takes about an hour. Plasma donors are hooked up to a small device that removes plasma while simultaneously returning red blood cells to their bodies. Unlike regular blood donation in which donors have to wait for red blood cells to replenish between donations,plasma can be donated more frequently, as often as twice a week.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseFive">
                    <strong><i class="large angle down icon"></i>Is it safe to donate Plasma ?</strong>
                  </a>
                </div>
                <div id="collapseFive" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    &emsp;&emsp;Blood and plasma have been used to treat many other conditions, and they're usually very safe. The risk of contracting COVID-19 infection from receiving convalescent plasma therapy  is very low because the plasma donor has fully recovered from the infection.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseSix">
                    <strong><i class="large angle down icon"></i>What is Antibody Test ?</strong>
                  </a>
                </div>
                <div id="collapseSix" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    &emsp;&emsp;An antibody test is a screening for antibodies in blood. It is also called a serology test.The antibody test isn’t checking for the virus itself. Instead, it looks to see whether your immune system -- your body’s defense against illness -- has responded to the infection.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseSeven">
                    <strong><i class="large angle down icon"></i>What’s the Difference Between a Coronavirus Test and an Antibody Test ?</strong>
                  </a>
                </div>
                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    &emsp;&emsp;A coronavirus test, sometimes called a diagnostic test, looks for signs of active virus. It’s simpler and faster than an antibody test. But it tells you only if you have the virus in your body at the moment when you’re tested.An antibody test shows that you had the virus at some point in the past. It could be gone, or you could still be contagious.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link text-dark" data-toggle="collapse" href="#collapseEight">
                    <strong><i class="large angle down icon"></i>How many days a recovered body can take to develop antibody ?</strong>
                  </a>
                </div>
                <div id="collapseEight" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    &emsp;&emsp;Antibodies develops in 14  to 28 days, and it will last till 2-3 months.
                  </div>
                </div>
              </div>

            </div>
            <table class="table table-hover border">
              <tr><th colspan="5" class="text-center alert alert-info">COMPATIBILITY CHART</th></tr>
              <tr class="text-center" >
                <th rowspan="2" class="align-bottom">Recipent</th>
                <th colspan="4">Donor</th>
              </tr>
              <tr class="text-center">
                <th>O</th><th>A</th><th>B</th><th>AB</th>
              </tr>
              <tr class="text-center">
                <th>O</th><td>YES</td><td>YES</td><td>YES</td><td>YES</td>
              </tr>
              <tr class="text-center">
                <th>A</th><td>NO</td><td>YES</td><td>NO</td><td>YES</td>
              </tr>
              <tr class="text-center">
                <th>B</th><td>NO</td><td>NO</td><td>YES</td><td>YES</td>
              </tr>
              <tr class="text-center">
                <th>AB</th><td>NO</td><td>NO</td><td>NO</td><td>YES</td>
              </tr>
            </table>
            </div>
        </section>



     <!--footer-->
     <!-- <footer class="sticky-footer text-center border py-5" style="min-height: 15rem;">
      <div class="my-3">
        <div class="right floated">
          <a href="#"><i class="large github icon"></i></a>
          <a href="#"><i class="large envelope outline icon"></i></a>
          <a href="#"><i class="large youtube icon"></i></a>
          <a href="#"><i class="large slideshare alternate icon "></i></a>
        </div>
      </div> -->

        <div class="copyright text-center my-3">
          <span>Copyright &copy; Team BITSians 2020</span>
        </div>
    </footer>
</div>

        <link rel="stylesheet" href="plasma_bank.css">
        <%- include("./partials/footer") %>
        </script>

      <!-- Bootstrap 4.5 JS, Popper.js, and jQuery -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

      <script> document.getElementById("plasma_bank").classList.add("active"); </script>
</body>
</html>
