<%- include("./partials/header") %>
<div class="ui container">
  <br>
  <div class="ui placeholder segment">
    <div class="ui two column stackable center aligned grid">
      <div class="ui vertical divider">Or</div>
      <div class="middle aligned row">
        <div class="column">
          <div class="ui icon header">
            <i class="search icon"></i>
            Find Hospital
          </div>
          <div class="ui primary button" style="margin: 0 auto 0 auto !important;" onclick="searchDisplay()">
            Search
          </div>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="medkit icon"></i>
            Add New Hospital
          </div>
          <div class="ui primary button" style="margin: 0 auto 0 auto !important;" onclick="addDisplay()">
            Create
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment"  id="choice-segment-1" style="display: none;">
    <div id="fuzzy-name">
      <div class="ui dividing blue header">Enter Hospital Name</div>
      <div class="ui fluid icon input">
        <input id="HOSPITAL_NAME" type="text" placeholder="Search...">
        <div class="ui large blue animated button" tabindex="0" onclick="fuzzynameGet()">
          <div class="visible content"><i class="search icon"></i></div>
          <div class="hidden content"><i class="right arrow icon"></i></div>
        </div>
      </div>
      <div class="ui icon input">
        <input id="STATE_NAME" type="text" placeholder="State Name...">    
        <i class="filter icon"></i>
      </div>
      <div class="ui icon input">
        <input id="COUNTY_NAME" type="text" placeholder="County/City Name...">      
        <i class="filter icon"></i>
      </div>
      <button class="ui teal button" type="button" onclick="fuzzyfilterGet()">Filter</button>
    </div>
  </div>
  <div class="ui segment"  id="choice-segment-2" style="display: none;">
    <!--Form for new Hospitals-->
    <form>
      <div class="ui large form" id="new-form">
        <div class="ui dividing blue header">
          Hospital
          <div class="sub header">
            Please provide information to start registeration process
          </div>
        </div>
          <div class="fields">
            <div class="eleven wide field">
              <label>Hospital Name</label>
              <input type="text" placeholder="Name">
            </div>
            <div class="five wide field">
              <label>Hospital Type</label>
              <input type="text" placeholder="Type">
            </div>
          </div>
        <div class="ui dividing blue header">Location</div>
        <h4 class="ui header">Location Geographical Coordinates<a target="_blank" href="https://www.latlong.net/"><i class="question circle black icon" data-content="Click here to get Coordinates of the hospital"></i></a></h4>
          <div class="two fields">
            <div class="field">
              <label>Lattitude</label>
              <input type="text" placeholder="X">
            </div>
            <div class="field">
              <label>Longitude</label>
              <input type="text" placeholder="Y">
            </div>
          </div>
        <h4 class="ui header">Headquarters Address</h4>
        <div class="ui small info message">
          <p>Provide hospital address in absence of headquarters</p>
        </div>
          <div class="field">
            <label>Address</label>
            <input type="text" placeholder="Address">
          </div>
          <div class="three fields">
            <div class="field">
              <label>City</label>
              <input type="text" placeholder="City">
            </div>
            <div class="field">
              <label>State</label>
              <input type="text" placeholder="State">
            </div>
            <div class="field">
              <label>Zip Code</label>
              <input type="text" placeholder="Zip">
            </div>
          </div>
        <h4 class="ui header">Hospital Address</h4>
          <div class="three fields">
            <div class="field">
              <label>Country</label>
              <input type="text" placeholder="Country">
            </div>
            <div class="field">
              <label>State</label>
              <input type="text" placeholder="State">
            </div>
            <div class="field">
              <label>FIPS</label>
              <input type="text" placeholder="FIPS">
            </div>
          </div>
        <div class="ui dividing blue header">
          Additional Information
          <div class="sub header">
            This information will help us in resource allocation
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Licensed Beds</label>
            <input type="number" placeholder="Licensed Beds">
          </div>
          <div class="field">
            <label>Staffed Beds</label>
            <input type="number" placeholder="Staffed Beds">
          </div>
        </div>
        <div class="three fields">
          <div class="field">
            <label>ICU Beds</label>
            <input type="number" placeholder="ICU beds">
          </div>
          <div class="field">
            <label>Adult ICU Beds</label>
            <input type="number" placeholder="Adult ICU beds">
          </div>
          <div class="field">
            <label>Pediatric ICU Beds</label>
            <input type="number" placeholder="Pediatric ICU beds">
          </div>
        </div>
        <div class="two fields">
          <div class="field">
            <label>Bed Utilization</label>
            <input type="number" placeholder="Avg Bed Utilization">
          </div>
          <div class="field">
            <label>Expected Bed Capacity Increase</label>
            <input type="number" placeholder="Increase in Bed Capacity">
          </div>
        </div>
        <div class="inline fields">
          <label>Average Ventilator utilization</label>
          <div class="fourteen wide field">
            <input type="number" placeholder="Number of Patients per Ventilator">
          </div>
        </div>

      </div>
      <br>
      <div class="ui four column centered stackable grid">
        <div class="left floated eleven wide column">
          <div class="sub header">
            <br>
            By clicking submit you agree to have carefully gone through and agreeing with  our Terms, Data Policy and Cookie Policy
          </div>
        </div>
        <div class="right floated right aligned column">
          <div class="ui animated blue huge button" tabindex="0">
            <div class="visible content">Submit</div>
            <div class="hidden content">
              <i class="right arrow icon"></i>
            </div>
          </div>
        </div>
    </div>
    </form>
    <!--Form for new Hospitals end-->
  </div>
 
  <div id="getResultDiv2">
    <ul class="list-group">
  </ul>
</div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
<script src="design.js"></script>
<script>

  //Search Display Logic
  function searchDisplay(){
    if ($("#choice-segment-2").css("display") == "block"){
      $('#choice-segment-2').transition("scale","1000ms");
      $('#choice-segment-1').transition("scale","1000ms");
    } else {
      $('#choice-segment-1').transition("scale");
    }
  }

  function addDisplay(){
    if ($("#choice-segment-1").css("display") == "block"){
      $('#choice-segment-1').transition("scale","1000ms");
      $('#choice-segment-2').transition("scale","1000ms");
    } else {
      $('#choice-segment-2').transition("scale");
    }
  }


</script>
<%- include("./login-assets/ajax-scripts") %>
<script> 
  $('i').popup();

</script>
<script>
  window.watsonAssistantChatOptions = {
      integrationID: "3a38c64f-ef6d-4910-b314-78f42d76a652", // The ID of this integration.
      region: "eu-gb", // The region your integration is hosted in.
      serviceInstanceID: "411ae7c2-7181-492b-aa64-fdcaafb19e28", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/loadWatsonAssistantChat.js";
    document.head.appendChild(t);
  });
</script>
</body>
</html>
