body{
  /*background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('https://wallpaperplay.com/walls/full/9/5/e/13971.jpg');*/	
  background-image: linear-gradient(to bottom, rgba(0, 165, 76, 0.2),rgba(0, 175, 239, 0.4 ));
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login-page{
  width: 360px;
  padding: 10% 0 0;
  margin: auto;

}


.form{
  position: relative;
  z-index: 1;
  background: rgba(0,0,0,0.6);
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 2.5%;
}

.form input{
  font-family: "Roboto", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /*background: #4CAF50;*/
  background:#7F7FD5;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;

}
 

 .form button:hover,.form button:active{
  /*background: #0000ff;*/
  background:#86A8E7;
}
 
 .form .message{
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 12px;
 }

 #forgot-password{
  margin: 15px 0 0;
  color: aliceblue;
  font-size: 12px;
 }
 
.form .message a{
  color: #4CAF50;
  text-decoration: none;
}

.form .registration-form{
  display : none;
}



.wrapper .header{
  z-index: 1;
  background: #22242A;
  position: fixed;
  width: calc(100% - 0%);
  height: 70px;
  display: flex;
  top: 0;
}

.wrapper .header .header-menu{
  width: calc(100% - 0%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.wrapper .header .header-menu .title{
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900;
}

.wrapper .header .header-menu .title span{
  color: #4CCEE8;
}

.wrapper .header .header-menu .sidebar-btn{
  color: #fff;
  position: absolute;
  margin-left: 240px;
  font-size: 22px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .header .header-menu .sidebar-btn:hover{
  color: #4CCEE8;
}

.wrapper .header .header-menu ul{
  display: flex;
}

.wrapper .header .header-menu ul li a{
  background: #fff;
  color: #000;
  display: block;
  margin: 0 10px;
  font-size: 18px;
  width: 34px;
  height: 34px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  transition-property: background, color;
}

.wrapper .header .header-menu ul li a:hover{
  background: #4CCEE8;
  color: #fff;
}

.wrapper .sidebar{
  z-index: 1;
  background: #2F323A;
  position: fixed;
  top: 70px;
  bottom: 50px;
  width: 250px;
  height: calc(100% - 15%);
  left: 30px;
  transition: 0.3s;
  transition-property: width;
  overflow-y: auto;
}

.wrapper .sidebar .sidebar-menu{
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .profile img{
  margin: 20px 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.wrapper .sidebar .sidebar-menu .profile p{
  color: #bbb;
  font-weight: 700;
  margin-bottom: 10px;
}

.wrapper .sidebar .sidebar-menu .item{
  width: 250px;
  overflow: hidden;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn{
  display: block;
  color: #fff;
  position: relative;
  padding: 25px 20px;
  transition: 0.3s;
  transition-property: color;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn:hover{
  color: #4CCEE8;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn i{
  margin-right: 20px;
}

.wrapper .sidebar .sidebar-menu .item .menu-btn .drop-down{
  float: right;
  font-size: 12px;
  margin-top: 3px;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu{
  background: #3498DB;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;
  transition-property: background, max-height;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a{
  display: block;
  position: relative;
  color: #fff;
  white-space: nowrap;
  font-size: 15px;
  padding: 20px;
  transition: 0.3s;
  transition-property: background;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:hover{
  background: #55B1F0;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu a:not(last-child){
  border-bottom: 1px solid #8FC5E9;
}

.wrapper .sidebar .sidebar-menu .item .sub-menu i{
  padding-right: 20px;
  font-size: 10px;
}

.wrapper .sidebar .sidebar-menu .item:target .sub-menu{
  max-height: 500px;
}

.wrapper .main-container{
  width: (100% - 250px);
  margin-top: none;
  margin-left: 250px;
  
 
  background-size: cover;
  height: -10vh;
  
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar .profile img,
.wrapper.collapse .sidebar .profile p,
.wrapper.collapse .sidebar a span{
  display: none;
}

.wrapper.collapse .sidebar .sidebar-menu .item .menu-btn{
  font-size: 23px;
}

.wrapper.collapse .sidebar .sidebar-menu .item .sub-menu i{
  font-size: 18px;
  padding-left: 3px;
}

.wrapper.collapse .main-container{
  width: calc(100% - 70px);
  margin-left: 70px;
}
/*=======CSS MOVED========*/
h1 { 
  color: #FFFFFF;
 }

 .inputWithIcon input[type=text]{
  padding-left: 40px;
}
.inputWithIcon input[type=password]{
  padding-left: 40px;
}

   .inputWithIcon{
    position: relative;
   }

   .inputWithIcon i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 11px 10px;
    transition: 1s;
   }

   .inputWithIcon input[type=text]:focus + i{
    color:blue;
   }

   #chat_input {
    resize: none;
  padding: 5px 10px;
  width: 600px;
  height: 40px;
  font-family: 'Lato', sans-serif;
	font-size: 14px;
  color: #0a0a0a;
  flex: 1;
  border: none;
  background: rgba(228, 235, 229, 0.863);
   border-bottom: 1px solid rgba(0, 0, 0, .05);
  
  }
  #online_member{
    color: rgb(7, 250, 19);
  }


  .chat {
    width: 100%;
    max-width: 610px;
    margin: 20px;
    padding: 30px 0;
    margin: 0 auto;
  }
  
  .chatboxout {
    font-family: open sans;
    font-size: 12px;
    line-height: 17px;
    box-sizing: border-box;
    max-width: 400px;
    margin: 0 auto;
    padding: 10px;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 20px -1px rgba(59, 59, 59, 0.6);
    -moz-box-shadow: 4px 4px 20px -1px rgba(59, 59, 59, 0.6);
    box-shadow: 4px 4px 20px -1px rgba(59, 59, 59, 0.6);
  }
  
  .chatboxin {
    box-sizing: border-box;
    border: 1px solid rgba(208, 208, 208, 1);
    border-radius: 5px;
    padding: 5px 15px;
  }
  
  .chat-sender.msg {
     border-radius: 25px;
    
    padding: 9px 9px;
    padding-left: 21px;
    background-color:rgb(79, 82, 216);
    color: #fff;
    box-sizing: border-box;
    width: calc(100% - 53px);
    margin-left: -9px;
  }
  
  .chatmsg {
    margin-top: 5px;
  }
  
  .chat-sender {
    display: inline-block;
    vertical-align: top;
  }
  
  .chat-container {
    margin-top: 15px;
    margin-bottom: 15px;
      animation: fadein 2s;
      -moz-animation: fadein 2s; /* Firefox */
      -webkit-animation: fadein 2s; /* Safari and Chrome */
      -o-animation: fadein 2s; /* Opera */
  }
  
  .chat-respond.msg {
   border-radius: 25px;
   text-align: right;
    padding: 9px 9px;
    padding-left: 21px;
    /*background-color: #E6E6E6;*/
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: calc(100% - 53px);
    margin-right: -9px;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  }
  
  .chat-respond.msg strong {
    color: #F48806;
  }
  
  .chat-respond {
    display: inline-block;
    vertical-align: top;
  }
  
  .flippd {
    width: 100%;
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  }




  
 

   
