html{
	scroll-behavior: smooth !important;
}
#mapContainer > div > div:nth-child(0) > div > div {
	width:99% !important;
}

#card0,#card1,#card2,#card3,#card4 {
	margin-top: 2vh !important;
	
}

body,.card,.step,.description,.meta,hr,label,a,.content{
	transition-duration:2s !important;
}

#desc,#PlasmaBankInfo,#CareNetInfo,#TrackABedInfo,#CareBotInfo{
	height:100vh;
}

#card0 > div{
	margin-top: -2.5vh;
	padding:1vh !important;
	
}
#card1 > div{
	margin-top: -2.5vh;
	padding:1vh !important;
}
#card2 > div{
	margin-top: -2.5vh;
	padding:1vh !important;
}
#card3 > div{
	margin-top: -2.5vh;
	padding:1vh !important;
}

#card4 > div{
	margin-top: -2.5vh;
	padding:1vh !important;
}

.button {
	margin:0.25em 0.25em 0 0!important;
}
/*========== Margin fix for navbar ==========*/
body > div.ui.pointing.menu.stackable {
	margin-bottom:0;
}
#cover {
	transition:2s!important;
	margin-top:0;
}
/* end of margin fix */
/* ============Login card margin=============*/
.login-container{
	margin:5vh;
}

/*===============item list landing page==================*/
.middle.aligned.content > .header{
	font-size:2.4em !important;
}
.description{
	font-size:16px !important;
}


/* ======== default semantic container width changed */
@media only screen and (min-width: 1200px){
#homepage-container{
    width: 1250px !important;
    margin-left: auto!important;
	margin-right: auto!important;
}
}
@font-face {
font-family: "FontAwesome";
src: url("fonts/fontawesome-webfont.eot");
}
/* CSS FOR DARK MODE */
@media (prefers-color-scheme: dark) {
    /* all your styles for dark mode here */
}
/*===========Hamburger Drop Down CSS============= */
.hamburger{
	display:none
}


/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }

	.hamburger {
		width: 20px;
		height: 20px;
		position: absolute;
		right: 9px;
		top: 13px;
		cursor: pointer;
		display: block;
	}
	.hamburger 	span {
		display: block;
		height: 3px;
		background: #000;
		margin: 0 0 3px;
	}
	.hamburger:hover {
		-moz-opacity: 1;
	    -khtml-opacity: 1;
	    -webkit-opacity: 1;
	    opacity: 1;
	    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	    filter: alpha(opacity=100);
	    -moz-transition-duration: .2s;
	    -webkit-transition-duration: .2s;
	    -o-transition-duration: .2s;
	    transition-duration: .2s;
	}

	.hamburger.active .hamburger-bun {
		margin: 0;
		-webkit-transform-origin: center center;
		-moz-transform-origin: center center;
		-o-transform-origin: center center;
		transform-origin: center center;
	}

	.hamburger.active .hamburger-bun:first-child {
		-webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    transform: rotate(45deg);
	    -webkit-transition: all .2s ease-out;
	    -moz-transition: all .2s ease-out;
	    -o-transition: all .2s ease-out;
	    transition: all .2s ease-out;
	    -webkit-transition: all .2s ease;
	    -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	    -o-transition: all .2s ease;
	    transition: all .2s ease;
	    margin-top: 3px;
	}
	.hamburger.active .hamburger-bun:last-child {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transition: all .2s ease-out;
		-moz-transition: all .2s ease-out;
		-o-transition: all .2s ease-out;
		transition: all .2s ease-out;
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-ms-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
		margin-top: -3px;
	}

	.hamburger.active .hamburger-patty {
		display: none;
	}

	.ui.stackable.menu .item:not(.header ){
		display:none;
	}

	.ui.stackable.menu.open .item{
		display:block;
	}
body > div > div.ui.fluid.two.column.centered.grid.menu{
    display:none;
  }
	.ui.stackable.menu.open {
		height:inherit
	}
	h1{
		text-align: center;
	}
	#desc,#PlasmaBankInfo,#CareNetInfo,#TrackABedInfo,#CareBotInfo,#Mission{
		margin-top:5vh;
		height: auto;
	}
}




/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}

/* Fix inverted menu dropdowns */
.ui.menu.inverted .ui.dropdown .menu.inverted>.item{
	background: #1b1c1d;
	color:white;
}
.ui.menu.inverted .dropdown.item .menu {
	background: #1b1c1d;
	color:white;
}
.ui.menu.inverted .ui.dropdown .menu>.item:hover {
    color: rgba(0,0,0,.05)!important;
    cursor:pointer;
    cursor:'hand';
    background: rgba(0,0,0,.95)!important;
}

#status{
	text-shadow: 2.5px 2.5px 10px red;
	letter-spacing: 2.5px;
	word-spacing: 2.5px;
}
body > div.ui.center.aligned.segment.masthead > div > h1{
	font-size: 6em;
	font-weight: 800;
	color: antiquewhite;
}
.pretty {
	font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
	color: aliceblue;
	font-size:20px;

}

.masthead{

	height: 55vh;
    margin-left: auto !important;
    margin-right: auto !important;
    min-height: 600px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#cover{
	/*url('https://www.dphealthnow.com/wp-content/uploads/2016/05/blue-medical-background-1.jpg')*/
	/**/
	/*url('https://wallpaperplay.com/walls/full/9/5/e/13971.jpg');*/
	/*url('https://images.squarespace-cdn.com/content/v1/592c6821d482e9898c72d7d3/1533773281442-1DHFKHWELY6OROXJJ5OC/ke17ZwdGBToddI8pDm48kCurl7xsCVdN09-BC3yacVoUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKca6EWiN-QmYyWPTJTg79O__5GPghVJDUwaft6EaC2SwI-L1n5dDK_g2cKn1s7GrJc/Background.png?format=2500w');*/
	/*background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.4), rgba(204, 149, 192,0.6)),url('https://healthtechmagazine.net/sites/healthtechmagazine.net/files/styles/cdw_hero/public/articles/%5Bcdw_tech_site%3Afield_site_shortname%5D/201810/HET_Q418_EdLetter-HERO.jpg?itok=zSAInqEg');	*/
	background-image: linear-gradient(to bottom, rgba(0, 165, 76, 0.5),rgba(0, 175, 239, 0.5));	
	background-repeat: no-repeat;
	height:95vh;
    background-size: cover;
}

.form .registration-form{
	display : none;
}


#user_div > div > div > div.three.wide.column.sidebar{
	background-color: white;
    opacity: 0.8;
    border-radius: 10px;
    margin-top: 2vh;
	margin-bottom: auto;
}

#user_div > div > div > div.twelve.wide.column.page-area{
    opacity: 0.8;
    border-radius: 10px;
	margin-top: 2vh;
	margin-left: 1.5vh;
}


/*=================plasma bank==================*/

/* infographics */

#slideshow{
	height: 400px;
	margin: auto;
	max-width: 500px;
	position: relative;
  }
  
  #slideshow img{
	border-radius: 10px;
	/*border: 5px solid #222;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: auto;
	opacity: 0;
	left: 0;
	position: absolute;
	z-index: 1;
	top: 0;
	width: 100%;
	-webkit-transition: 1s all;
	-webkit-transform: scale(1);
	/*-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));*/
	-webkit-backface-visibility: hidden;
  }
  
  #slideshow .is-active{
	opacity: 1;
	left: 0;
	top: 0;
	z-index: 2;
	-webkit-transition: 1s all;
	-webkit-transform: scale(.8);
	-webkit-backface-visibility: hidden;
  }


  #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* infographics */

/* plasma bank footer */
.sticky-footer{
	background: radial-gradient(white,rgba(212, 212, 212, 0.89),grey);
	align-items: center;
}
/* plasma bank footer */

/* news1 */
#marqueecontainer{
	position: relative;
	 width: 500px auto; /*marquee width */
	height: 280px; /*marquee height */
	 background-color: white;
	overflow: hidden;
	/*border: 3px solid orange;*/
	/*padding: 2px;*/
	padding-left: 8px;
	padding-right: 8px;
	}
/* news1 */

/* scroller */
	.scroller {
		position: relative;
		width: 500px auto; /*marquee width */
	   height: 280px; /*marquee height */
		background-color: white;
	   overflow: hidden;
	   /*border: 3px solid orange;*/
	   /*padding: 2px;*/
	   padding-left: 8px;
	   padding-right: 8px;
	}
	.scroller span {
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 margin: 0;
	 line-height: 20px;
	 text-align: left;
	 /* Starting position */
	 -moz-transform:translateY(100%);
	 -webkit-transform:translateY(100%);	
	 transform:translateY(100%);
	 /* Apply animation to this element */	
	 -moz-animation: scroller 40s linear infinite;
	 -webkit-animation: scroller 40s linear infinite;
	 animation: scroller 40s linear infinite;
	}
	/* Move it (define the animation) */
	@-moz-keyframes scroller {
	 0%   { -moz-transform: translateY(10%); }
	 100% { -moz-transform: translateY(-350%); }
	}
	@-webkit-keyframes scroller {
	 0%   { -webkit-transform: translateY(10%); }
	 100% { -webkit-transform: translateY(-350%); }
	}
	@keyframes scroller {
	 0%   { 
	 -moz-transform: translateY(10%); /* Firefox bug fix */
	 -webkit-transform: translateY(10%); /* Firefox bug fix */
	 transform: translateY(10%); 		
	 }
	 100% { 
	 -moz-transform: translateY(-350%); /* Firefox bug fix */
	 -webkit-transform: translateY(-350%); /* Firefox bug fix */
	 transform: translateY(-350%); 
	 }
	}



/*======================plasma bank====================*/